<template name="home">
	<header class="homeHeader">
	    <div class="container">
	        <!-- <span class="brand-name">Start Tutor</span> -->
	        <h1>Find your meetup!</h1>
	        <br>
	        <a href="/" class="btn btn-default"> Browse Meetups</a>
	        <a href="/createMeetup" class="btn btn-default"> Create Meetup</a>
	    </div>
	</header>

	<div class="container">
    <div class="row home-intro text-center">
        <div class="col-lg-12">
            <h2 class="tagline">Free, fast, and easy to use.</h2>
            <p class="lead">T is a application that allows you to create and participate in whatever meetup you like!</p>
            <hr class="small">
        </div>
    </div>
</div>
</template>