<template name="createMeetup">
	{{#if showMap}}
		{{>setLocationMap}}
	{{/if}}
	<form class="form-horizontal createMeetup">
	 		
	    	<legend>Create meetup</legend>
	    	<div class="form-group">
	      		<label class="col-lg-2 control-label">Title</label>
				<div class="col-lg-8">
			        <input type="text" class="form-control meetupTitle" placeholder="Title">
				</div>
		    </div><br>

		    <div class="form-group">
	      		<label class="col-lg-2 control-label">What</label>
				<div class="col-lg-8">
			        <input type="text" class="form-control meetupInfo" placeholder="Info">
				</div>
		    </div><br>

		    <div class="form-group">	
	      		<label class="col-lg-2 control-label">When</label>
				<div class="col-lg-8">
			        <input  class="meetupDate" type="date">
			        <input class="meetupTime" type="time">
				</div>
		    </div><br>

		     <div class="form-group">
	      		<label class="col-lg-2 control-label">Where</label>
				<div class="col-lg-8">
			        <input type="text" class="form-control setLocation" placeholder="Click to set address..">

				</div>
		    </div>
	        <a class="btn btn-primary submitMeetup">Submit</a>
	        <a class="btn btn-default">Cancel</a>
		  
	 
	</form>

</template>